.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;
  .post-header {
    display: flex;
    flex-direction: column;
    .post-title {
      display: flex;
      flex: 1;
      align-items: center;
      margin-top: 1rem;
      h2 {
        margin: 0;
      }
    }
    .post-infos {
      display: flex;
      flex: 1;
      justify-content: start;
      p {
        margin-left: 2rem;
      }
    }
  }
}
