<div class="flex flex-column">
  <div class="flex justify-content-start"><button pButton (click)="goBack()" icon="pi pi-arrow-left" class="p-button-icon-left p-button-secondary p-button-text"></button><h2>{{post.title}}</h2></div>
  <div class="flex flex-column m-5">
    <div><p>Date: {{post.created_at | date: "longDate"}}</p><p>Auteur: {{post.author.username}}</p><p>Thème: {{post.topic}}</p></div>
    <p>{{post.content}}</p>
    <div class="flex flex-column m-8">
      <p>Commentaires</p>
      <div  *ngFor="let comment of post.comments">
        <p>{{comment.author}}</p>
        <p>{{comment.content}}</p>
      </div>
    </div>
    <form class="comment-form" [formGroup]="commentForm" (ngSubmit)="postComment()">
      <fieldset>
        <textarea pInputTextarea formControlName="comment" placeholder="Ecrivez votre commentaire ici"></textarea>
      </fieldset>
      <button pButton type="submit">

      </button>
    </form>
  </div>
</div>
