<div class="flex flex-row w-screen justify-content-between h-6rem">
    <span class="flex flex-grow-0 align-items-center m-0"><img height="80" src="assets/logo_p6.png" /></span>
    <div class="flex align-items-center justify-content-between w-18rem mr-2" *ngIf="isLoggedIn$ | async">
      <a [routerLink]="['/posts']" class="m-2">Articles</a>
      <a [routerLink]="['/posts/topics']" class="m-2">Thèmes</a>
      <button pButton  type="button" class="p-button-icon p-button-rounded p-button-secondary" icon="pi pi-user" aria-label="User Menu" (click)="myProfile()">
      </button>
    </div>
</div>




