<div id="signup">
  <div class="logo">
    <img src="assets/logo_p6.png">
  </div>
  <form class="signup-form" [formGroup]="signUpForm" (ngSubmit)="signup()">
    <fieldset>
      <label>
        Username:
      </label>
      <input pInputText type="text" formControlName="username">
    </fieldset>
    <fieldset>
      <label>
        Email:
      </label>
      <input pInputText type="email" formControlName="email">
    </fieldset>
    <fieldset>
      <label>
        Mot de passe:
      </label>
      <input pInputText type="password" formControlName="password">
    </fieldset>
    <button pButton color="primary" type="submit">S'inscrire</button>
  </form>
</div>

