<div class="flex flex-column align-content-center justify-content-center w-screen">
  <div class="flex justify-content-center">
    <img class="w-24rem" src="assets/logo_p6.png"/>
  </div>
  <form class="flex flex-column align-items-center" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <p *ngIf="isLoginFailed">Erreur d'authentification</p>
    <div class="p-input-filled flex flex-column align-items-center m-2">
      <label class="mt-2">
        Email ou nom d'utilisateur:
      </label>
      <input pInputText type="text" formControlName="login">
      <label class="mt-2">
        Mot de passe:
      </label>
      <input pInputText type="password" formControlName="password">
    </div>
    <button pButton type="submit" [disabled]="!signinForm.valid">Se connecter</button>
  </form>
</div>
