<div id="signup">
  <div *ngIf="!hideLogo" class="flex justify-content-center">
    <img class="logo" src="assets/logo_p6.png"/>
  </div>
  <h2 class="m-0">Se connecter</h2>
  <form class="signup-form mt-2" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <p *ngIf="isLoginFailed" class="p-error">Erreur d'authentification</p>
    <label class="mt-4">E-mail ou nom d'utilisateur</label>
    <input pInputText type="text" formControlName="login">
    <label class="mt-4">Mot de passe</label>
    <input pInputText type="password" formControlName="password">
    <div class="flex justify-content-center mt-4">
    <button pButton type="submit" label="Se connecter" [disabled]="!signinForm.valid" class="mt-2 w-fit"></button>
    </div>
  </form>
</div>
