<div id="signin">
  <div class="logo">
    <img src="assets/logo_p6.png">
  </div>
  <form class="signin-form" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>
        Email:
      </mat-label>
      <input matNativeControl type="email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Mot de passe:
      </mat-label>
        <input matNativeControl type="password" formControlName="password">

    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [disabled]="!signinForm.valid">Se connecter</button>
  </form>
</div>
