<div class="my-profile">
    <div class="user_infos">
        <h2>Profil Utilisateur</h2>
        <form action="">
          <fieldset>
            <input pInputText type="text" placeholder="Username">
          </fieldset>
          <fieldset>
            <input pInputText type="email" placeholder="email@email.fr">
          </fieldset>
          <button pButton type="submit">Sauvegarder</button>
          <a href="#" (click)="logOut()">Se déconnecter</a>
        </form>
    </div>
  <div class="subscriptions">
    <h3>Abonnements</h3>
    <div class="topics" *ngIf="user.topics.length > 0">
      Topic Card
    </div>
  </div>
</div>
